<footer class="center">
  <div class="measures">
    <small>
      Crafted using <a href="https://github.com/johnotander/pixyll">Pixyll</a> and
      <a href="http://themes.yordanoff.net/kompact/blog">Kompact </a>  by 
      <a href="http://twitter.com/i_shankar">Shankar</a>
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
